/* Specify library rule overrides here. */
body {
	margin-top: 0!important;
}

.form-item > .tab-content {
	border: 0;
	padding: 0;
}

input[type="checkbox"] {
  height: auto;
}

#main {
  padding: 0;
}

.affix #defaultmenu li.dropdown > a[aria-expanded="true"],
.affix #defaultmenu li.dropdown > a:focus,
.affix #defaultmenu li.dropdown > a:hover {
  color: #000;
}
