/* Specify library rule overrides here. */
body {
	margin-top: 0!important;
}

.form-item > .tab-content {
	border: 0;
	padding: 0;
}

input[type="checkbox"] {
  height: auto;
}

#main {
  padding: 0;
}

.affix #defaultmenu li.dropdown > a[aria-expanded="true"],
.affix #defaultmenu li.dropdown > a:focus,
.affix #defaultmenu li.dropdown > a:hover {
  color: #000;
}

/* Banner Hours adjustment */
#banner-hours {
    padding: 0;
}
#banner-hours table {
    margin: 0;
}
#banner-hours table caption {
    margin: 1rem 0;
    padding: 0 1.5rem;
}
#banner-hours table tbody tr td,
#banner-hours table tbody tr th {
    font-size: 99%;
    padding: .25rem 1.5rem;
}

.visible {
    display: inline-block !important;
}

@media screen and (max-width: 767px) {
    .fhmm .dropdown {
        overflow-y: hidden;
    }
}
