<div class="footer-top container py-4">
  <div class="d-flex flex-wrap justify-content-between">
    <div class="unb-logo mb-4 text-left">
      <a class="d-none d-lg-block link-no-hover mb-3" href="//unb.ca">
        <img class="img-fluid" src="{{ unb_lib_theme_path }}/img/unb-logo-primary-w.png" alt="University of New Brunswick: established in 1785">
      </a>
   {# <a class="donate" href="//donations.helpforcharities.com/unbdonation">
        <img class="img-fluid" src="{{ unb_lib_theme_path }}/img/donate.png" alt="Donate to UNB Libraries">
      </a>
   #}
    </div>
    <div class="my-2">
      <h2>General</h2>
      <ul class="clearfix nav">
        <li><a class="nav-link" href="https://lib.unb.ca/about/contact-us">Contact Us</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/find-us">Find Us</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/news">Library News</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/hours">Hours</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/policies">Policies</a></li>
      </ul>
    </div>
    <div class="my-2">
      <h2>Libraries</h2>
      <ul class="clearfix nav">
        <li><a class="nav-link" href="https://lib.unb.ca/about/harriet-irving-library">Harriet Irving</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/science-forestry-library">Science &amp; Forestry</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/engineering-computer-science-library">Engineering &amp; Computer Science</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/hans-w-klohn-commons">Hans W. Klohn Commons</a></li>
        <li><a class="nav-link" href="https://unb.ca/fredericton/law/library">Gerard V. La Forest Law</a></li>
      </ul>
    </div>
    <div class="my-2">
      <h2>Departments</h2>
      <ul class="clearfix nav">
        <li><a class="nav-link" href="https://lib.unb.ca/archives">Archives &amp; Special Collections</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/cds">Centre for Digital Scholarship</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/microforms">Microforms</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/gddm">Government Documents, Data &amp; Maps</a></li>
        <li><a class="nav-link" href="https://lib.unb.ca/about/contact-us#units">&hellip;&nbsp;more</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-middle container pb-3">
  <h2 class="mr-4">Join the conversation:</h2>
  <ul class="nav">
    <li><a class="nav-link" href="https://facebook.com/UNBLibraries/"><i class="fab fa-facebook-f mr-1" aria-hidden="true"></i>Facebook</a></li>
    <li class="mx-4"><a class="nav-link" href="https://twitter.com/UNBLibraries"><i class="fab fa-twitter mr-1" aria-hidden="true"></i>Twitter</a></li>
    <li><a class="nav-link" href="https://instagram.com/unblibraries"><i class="fab fa-instagram mr-1" aria-hidden="true"></i>Instagram</a></li>
  </ul>
</div>

<div class="footer-bottom py-2">
  <nav aria-label="Footer Utility Menu" class="container d-flex flex-column flex-lg-row justify-content-lg-between">
    <ul role="menu" class="list-inline mb-0">
      <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://unb.ca/copyright">Copyright</a></li>
      <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://unb.ca/privacy/">Privacy</a></li>
      <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://lib.unb.ca/help/web-accessibility-statement">Accessibility</a></li>
      <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://lib.unb.ca/contact-unb-libraries-staff">Web Feedback</a></li>
    </ul>
    <div class="pt-3 pt-lg-0">
      <ul role="menu" class="list-inline mb-0 text-lg-right">
        <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://unb.ca">UNB</a></li>
        <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://lib.unb.ca/help/ask-us"><i class="fas fa-question-circle mr-1" aria-hidden="true"></i>Ask Us</a></li>
        <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://lib.unb.ca/services/your-comments-and-suggestions"><i class="fas fa-comments mr-1" aria-hidden="true"></i>Feedback</a></li>
        <li role="none" class="list-inline-item"><a role="menuitem" class="nav-link" href="https://lib.unb.ca/search"><i class="fas fa-search mr-1" aria-hidden="true"></i>Search</a></li>
      </ul>
    </div>
  </nav>
</div>
