<ul aria-label="Help" role="menu" class="fa-ul">
  <li role="none"><span class="fa-li"><i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
  <li role="none"><span class="fa-li"><i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/connect" role="menuitem">Get Specialized Help</a></li>
  <li role="none"><span class="fa-li"><i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
  <li role="none"><span class="fa-li"><i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/status" role="menuitem">Systems Status & Trouble Tickets</a></li>
</ul>
