{#
/**
* @file
* UNB Libraries Header Nav Menu.
*
* The UNB Libraries Base Theme navbar HTML structure, extracted from the page.html.twig template into a separate file
* that can be downloaded/included in any UNB Libraries site, as per ticket https://jira.lib.unb.ca/browse/LIB-375.
*
* @see page.html.twig
*/
#}
<div id="navbar" class="collapse navbar-collapse px-lg-2 w-100">
    <ul class="navbar-nav rounded-bottom p-1 p-lg-0 w-100" role="menubar">
        <li class="nav-item dropdown megamenu-li" role="none">
            <a id="btn-about" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"  role="menuitem">About</a>
            <div aria-labelledby="navbar btn-about" class="dropdown-menu megamenu m-0 pb-3">
                <div class="container"><div class="row justify-content-around">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">General</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/contact-us" role="menuitem">Contact Us</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/find-us" role="menuitem">Find Us</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/staff-and-departments" role="menuitem">Staff and Departments</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/hours" role="menuitem">Hours</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/policies" role="menuitem">Policies</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/student-employment" role="menuitem">Student Employment</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Libraries</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/harriet-irving-library" role="menuitem">Harriet Irving</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/science-forestry-library" role="menuitem">Science &amp; Forestry</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/engineering-computer-science-library" role="menuitem">Engineering &amp; Computer Science</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/hans-w-klohn-commons" role="menuitem">Hans W. Klohn Commons</a></li>
                                <li role="none"><a class="nav-link" href="https://www.unb.ca/fredericton/law/library" role="menuitem">Gerard V. La Forest Law</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-lg-4">
                            <h3 class="mt-4">Departments</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/archives" role="menuitem">Archives &amp; Special Collections</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/cds" role="menuitem">Centre for Digital Scholarship</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/microforms" role="menuitem">Microforms</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/gddm" role="menuitem">Government Documents, Data &amp; Maps</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/staff-and-departments" role="menuitem">…&nbsp;more</a></li>
                            </ul>
                        </div>
                    </div></div>
            </div>
        </li>
        <li class="nav-item dropdown megamenu-li" role="none">
            <a id="btn-resources" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="menuitem">Resources</a>
            <div aria-labelledby="navbar btn-resources" class="dropdown-menu megamenu m-0 pb-3">
                <div class="container"><div class="row justify-content-around">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Resources</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/eresources" role="menuitem">e-Resources</a></li>
                                <li role="none"><a class="nav-link ml-3" href="https://web.lib.unb.ca/eresources/index.php?sub=indexes" role="menuitem">Article Databases</a></li>
                                <li role="none"><a class="nav-link ml-3" href="https://web.lib.unb.ca/eresources/index.php?sub=refmat" role="menuitem">e-Encyclopedias, etc.</a></li>
                                <li role="none"><a class="nav-link ml-3" href="https://web.lib.unb.ca/eresources/index.php?sub=journals" role="menuitem">Journals &amp; Newspapers</a></li>
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=ebooks" role="menuitem">e-Books</a></li>
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=video" role="menuitem">Videos</a></li>
                                {#<li role="none"><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=trials" role="menuitem">Current Trials</a></li>#}
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/guide/206" role="menuitem">Zotero</a></li>
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/guide/168" role="menuitem">Mobile Resources for Academics</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Catalogues</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://unb.on.worldcat.org/discovery" role="menuitem">UNB WorldCat</a></li>
                                <li role="none"><a class="nav-link" href="https://login.proxy.hil.unb.ca/login?url=http://firstsearch.oclc.org/fsip?dbname=WorldCat&done=https://lib.unb.ca" role="menuitem">WorldCat FirstSearch</a></li>
                                <li role="none"><a class="nav-link" href="https://canada.on.worldcat.org/discovery" role="menuitem"><span lang="fr">LAC Voilà</span></a></li>
                                <li role="none"><a class="nav-link" href="https://www2.gnb.ca/content/gnb/biling/nbpls-bpnb.html" role="menuitem">New Brunswick Public Library</a></li>
                            </ul>

                            <h3 class="mt-4">Reserves</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/reserves" role="menuitem">Search for Course reserves</a></li>
                            </ul>

                            <h3 class="mt-4">Research Guides</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/research-guides" role="menuitem">Research by subject, course or topic</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-lg-4">
                            <h3 class="mt-4">Notable Collections</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/archives" role="menuitem">Archives &amp; Special Collections</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/clc" role="menuitem">Eileen Wallace Children's Literature</a></li>
                                <li role="none"><a class="nav-link" href="https://unbscholar.lib.unb.ca" role="menuitem">UNB Scholar Research Repository</a></li>
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/guide/162" role="menuitem">Film/Sound/Image Collections</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/gddm" role="menuitem">Government Documents, Data &amp; Maps</a></li>
                                <li role="none"><a class="nav-link" href="https://loyalist.lib.unb.ca" role="menuitem">Loyalist Collection</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/collections/science-fiction-and-fantasy-collection" role="menuitem">Science Fiction &amp; Fantasy Collection</a></li>
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/eresources/theses.php" role="menuitem">UNB Theses &amp; Dissertations</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/collections/notable-collections" role="menuitem">…&nbsp;more</a></li>
                            </ul>
                        </div>
                    </div></div>
            </div>
        </li>
        <li class="nav-item dropdown megamenu-li" role="none">
            <a id="btn-services" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="menuitem">Services</a>
            <div aria-labelledby="navbar btn-services" class="dropdown-menu megamenu m-0 pb-3">
                <div class="container"><div class="row justify-content-around">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Help with&nbsp;&hellip;</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/research" role="menuitem">Research</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/writing-help" role="menuitem">Writing Help</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/help/technical-support" role="menuitem">Technical Issues</a></li>
                            </ul>

                            <h3 class="mt-4">Request Forms</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/docdel" role="menuitem">Document Delivery</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/material-retrieval" role="menuitem">Material Retrieval</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/recalls" role="menuitem">Recalls</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Information about&nbsp;&hellip;</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/copyright" role="menuitem">Copyright</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/printing-scanning-photocopying" role="menuitem">Photocopying, Printing &amp; Scanning</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/group-study-rooms" role="menuitem">Group Study Rooms</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/gddm/maps" role="menuitem">GIS</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/gddm/data" role="menuitem">Data Services</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/learning-commons-frequently-asked-questions" role="menuitem">McNair Learning Commons</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-lg-4">
                            <h3 class="mt-4">Services for&nbsp;&hellip;</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/services-persons-disabilities" role="menuitem">Persons with Disabilities</a></li>
                                <li role="none">
                                    {#<a class="nav-link" href="https://lib.unb.ca/services/distance-education-library-service-fredericton" role="menuitem">Distance Education</a>#}
                                    <a class="nav-link" href="https://lib.unb.ca/services/researching-remotely" role="menuitem">Remote Researchers</a>
                                </li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty" role="menuitem">Faculty</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/services-graduate-students" role="menuitem">Graduate Students</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/alumni-services" role="menuitem">Alumni</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/community-services" role="menuitem">Community</a></li>
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/guide/185" role="menuitem">STU Students</a></li>
                            </ul>
                        </div>
                    </div></div>
            </div>
        </li>
        <li class="nav-item dropdown megamenu-li" role="none">
            <a id="btn-faculty" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="menuitem" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">Faculty</a>
            <div aria-labelledby="navbar btn-faculty" class="dropdown-menu megamenu m-0 pb-3">
                <div class="container"><div class="row justify-content-around">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Teaching</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty/working-copyright-and-licensed-resources" role="menuitem">Working with Copyright &amp; Licensed Resources</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty/manage-course-reserves" role="menuitem">Course Reserves</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty/library-instruction-services" role="menuitem">Library Instruction Services</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/about/facilities" role="menuitem">Instruction Facilities</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty/teaching-resources" role="menuitem">Teaching Resources</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty/reserve-dvd-video" role="menuitem">Reserve a DVD/Video</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Research</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/guide/139" role="menuitem">Citation Metrics and Scholarly Profiles</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/rdm" role="menuitem">Research Data Management</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/openaccess" role="menuitem">Supporting Open Access</a></li>
                                <li role="none"><a class="nav-link" href="https://unbscholar.lib.unb.ca" role="menuitem">Deposit to UNB Scholar</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/cds/publishing-services" role="menuitem">Digital Publishing Services</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-lg-4">
                            <h3 class="mt-4">Collections Development</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/collections" role="menuitem">News, Reports and Policies</a></li>
                            </ul>

                            <h3 class="mt-4">Subject Librarians</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/faculty/contact-liaison-librarian" role="menuitem">Directory of Liaisons by Subject Area</a></li>
                            </ul>
                        </div>
                    </div></div>
            </div>
        </li>
        <li class="nav-item dropdown megamenu-li" role="none">
            <a id="btn-help" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="menuitem" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">Help</a>
            <div aria-labelledby="navbar btn-help" class="dropdown-menu megamenu m-0 pb-3">
                <div class="container"><div class="row justify-content-around">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Research &amp; Writing</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/research" role="menuitem">Research Help</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/writing-help" role="menuitem">Writing Help</a></li>
                                <li role="none"><a class="nav-link" href="https://guides.lib.unb.ca/research-guides" role="menuitem">Research Guides</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/research/video" role="menuitem">Library Help Videos</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/services/services-persons-disabilities" role="menuitem">Accessibility Support</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h3 class="mt-4">Technical Support</h3>
                            <ul role="menu">
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems and Services Status</a></li>
                                <li role="none"><a class="nav-link" href="https://web.lib.unb.ca/help/troubleticket.php" role="menuitem">Submit a Trouble Ticket</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/help/web-accessibility-statement" role="menuitem">Website Accessibility</a></li>
                                <li role="none"><a class="nav-link" href="https://lib.unb.ca/help/info" role="menuitem">Test your browser/computer settings</a></li>
                            </ul>
                        </div>
                    </div></div>
            </div>
        </li>
    </ul>
</div>
