{#
/**
* @file
* UNB Libraries Header Nav Menu.
*
* The UNB Libraries Base Theme navbar HTML structure, extracted from the page.html.twig template into a separate file
* that can be downloaded/included in any UNB Libraries site, as per ticket https://jira.lib.unb.ca/browse/LIB-375.
*
* @see page.html.twig
*/
#}
<div id="navbar" class="collapse navbar-collapse px-lg-2">
    <ul class="navbar-nav p-1 p-lg-0 w-100" role="menubar">
        <li class="nav-item dropdown megamenu-li" role="none">
            <button id="btn-search" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" role="menuitem"
                aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                <span class="text-nowrap">Search &amp;</span> Borrow
            </button>
            <div aria-labelledby="navbar btn-search" class="container dropdown-menu megamenu mx-auto py-0">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Search</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/" role="menuitem">Books &amp; Articles (WorldCat)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=indexes" role="menuitem">Databases</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=journals" role="menuitem">Journals &amp; Newspapers</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=refmat" role="menuitem">e-Reference Materials</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=ebooks" role="menuitem">e-Books</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=video" role="menuitem">Videos</a></li>
                                {#<li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/index.php?sub=trials" role="menuitem">Current Trials</a></li>#}
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/research-guides" role="menuitem">Research Guides</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://unbscholar.lib.unb.ca" role="menuitem">UNB Scholar</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/reserves" role="menuitem">Course Reserves</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Find</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/theses.php" role="menuitem">UNB Theses &amp; Dissertations</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/eresources/newspapers.php" role="menuitem">Historic Newspapers</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/archives" role="menuitem">Archives &amp; Special Collections</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/collections/notable-collections" role="menuitem">Notable Collections</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/collections/notable-collections" role="menuitem">Loyalist Research</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/190" role="menuitem">Standards</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/189" role="menuitem">Patents</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/gddm/govdocs" role="menuitem">Government Information</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/253" role="menuitem">Market Research</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Borrow &amp; Request</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/policies/unb-libraries-fredericton-borrowing-policy" role="menuitem">Borrowing Policies</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/docdel" role="menuitem">Document Delivery</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/recalls" role="menuitem">Recalls</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/collections/purchase-suggestion" role="menuitem">Suggest a Purchase</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/tech-tools" role="menuitem">Tech &amp; Tools</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-0">
                            <h3 class="mt-4 mb-3">Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Contact a Specialist (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems Status & Trouble Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown megamenu-li" role="none">
            <button id="btn-study" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" role="menuitem"
                aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                <span class="text-nowrap">Study &amp;</span> Learn
            </button>
            <div aria-labelledby="navbar btn-study" class="container dropdown-menu megamenu mx-auto py-0">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Assignment Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/99" role="menuitem">Getting Started (Research Toolkit)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/research/video/steps-research-process" role="menuitem">Steps in the Research Process</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/research/video/introduction-unb-worldcat" role="menuitem">Find a Book</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/research/video/how-find-journal-articles" role="menuitem">Find an Article</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/writing-help" role="menuitem">Writing & Citation Help</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/research/video" role="menuitem">Library Help Videos</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/research" role="menuitem">Research Support</a></li>
                                {#<li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/206" role="menuitem">Zotero</a></li>#}
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Technology</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/printing-scanning-photocopying" role="menuitem">Printing (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/printing-scanning-photocopying" role="menuitem">Scanning (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/tech-tools" role="menuitem">Tech &amp; Tools</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link external" href="https://unb.ca/its/wireless/index.html" role="menuitem">Wireless Access (ITS)</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Spaces</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/bookings" role="menuitem">Book a Space / Seat</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/graduate-lounge" role="menuitem">Explore Spaces (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/find-us" role="menuitem">Floor Plans</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/learning-commons-frequently-asked-questions" role="menuitem">John B. McNair Learning Commons</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/graduate-lounge" role="menuitem">Graduate Student Spaces</a></li>
                                {#<li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/group-study-rooms" role="menuitem">Group Study Rooms</a></li>#}
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons" role="menuitem">Harriet Irving Research Commons <span class="badge badge-warning align-text-bottom ml-1">New</span></a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/facilities" role="menuitem">Instruction Facilities</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-0">
                            <h3 class="mt-4 mb-3">Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Contact a Specialist (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems Status & Trouble Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown megamenu-li" role="none">
            <button id="btn-research" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" role="menuitem"
                aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                <span class="text-nowrap">Research &amp;</span> Teaching
            </button>
            <div aria-labelledby="navbar btn-research" class="container dropdown-menu megamenu mx-auto py-0">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Research Support</h3>
                            <ul class="fa-ul" role="menu">
                                {#<li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/206" role="menuitem">Citation Management</a></li>#}
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/139" role="menuitem">Citation Metrics and Scholarly Profiles</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/copyright" role="menuitem">Copyright @ UNB</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://unbscholar.lib.unb.ca" role="menuitem">Deposit to UNB Scholar</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/etd" role="menuitem">Electronic Theses &amp; Dissertations Support</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/" role="menuitem">Grants &amp; Funding (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/research/managing-your-research" role="menuitem">Managing Your Research</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/rdm" role="menuitem">Research Data Management</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/openaccess" role="menuitem">Supporting Open Access</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Teaching Support</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/copyright/best-practices-teaching-and-copyright" role="menuitem">Copyright in the Classroom</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/library-instruction-services" role="menuitem">Library Instruction</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/manage-course-reserves" role="menuitem">Manage Course Reserves</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/284" role="menuitem">Open Educational Resources</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/99" role="menuitem">Research Toolkit</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Spaces</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/active-learning-classroom" role="menuitem">Active Learning Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/facilities/datagis-lab-hil" role="menuitem">Data / GIS Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/digital-scholarship-hub" role="menuitem">Digital Scholarship Hub</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/data-visualization-lab" role="menuitem">Data Visualization Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/event-space" role="menuitem">Event Space</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/innovation-hub" role="menuitem">Innovation Hub</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/facilities/learning-lab-hil" role="menuitem">Learning Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/facilities/milham-room-hil" role="menuitem">Milham Room</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-0">
                            <h3 class="mt-4 mb-3">Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Contact a Specialist (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/contact-unb-libraries-staff" role="menuitem">Request an Instruction Session (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems Status & Trouble Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown megamenu-li" role="none">
            <button id="btn-media" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" role="menuitem"
                aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                <span class="text-nowrap">Media &amp;</span> Making
            </button>
            <div aria-labelledby="navbar btn-media" class="container dropdown-menu megamenu mx-auto py-0">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Making</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/fabrication-lab" role="menuitem">3D Printing (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/fabrication-lab" role="menuitem">3D Scanning (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/fabrication-lab" role="menuitem">Cricut (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/fabrication-lab" role="menuitem">Textiles (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/tech-tools" role="menuitem">Tech &amp; Tools</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Spaces</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/data-visualization-lab" role="menuitem">Data Visualization Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/digital-scholarship-hub" role="menuitem">Digital Scholarship Hub</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/fabrication-lab" role="menuitem">Fabrication Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/innovation-hub" role="menuitem">Innovation Hub</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Digital Media Creation</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/audio-pod" role="menuitem">Audio Studio</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/lightboard-studio" role="menuitem">Lightboard Studio</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/" role="menuitem">One Button Studio (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/printing-scanning-photocopying" role="menuitem">Scanning (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/learning-commons-frequently-asked-questions" role="menuitem">Mac Bar (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/cds/digital-imaging" role="menuitem">Digital Imaging</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="mt-4 mb-3">Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Contact a Specialist (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems Status & Trouble Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown megamenu-li" role="none">
            <button id="btn-data" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" role="menuitem"
                aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                <span class="text-nowrap">Data &amp;</span> Visualization
            </button>
            <div aria-labelledby="navbar btn-data" class="container dropdown-menu megamenu mx-auto py-0">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Data and Visualization</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/gddm/maps" role="menuitem">Maps &amp; GIS</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/gddm/data" role="menuitem">Statistics &amp; Data</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/rdm" role="menuitem">Research Data Management</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://dataverse.lib.unb.ca" role="menuitem">UNB Dataverse</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Spaces</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/facilities/datagis-lab-hil" role="menuitem">Data / GIS Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/data-visualization-lab" role="menuitem">Data Visualization Lab</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/researchcommons/digital-scholarship-hub" role="menuitem">Digital Scholarship Hub</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="mt-4 mb-3">Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Contact a Specialist (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems Status & Trouble Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown megamenu-li" role="none">
            <button id="btn-about" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" role="menuitem"
                aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">About
            </button>
            <div aria-labelledby="navbar btn-about" class="container dropdown-menu megamenu multi-row mx-auto py-0">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Libraries</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/harriet-irving-library" role="menuitem">Harriet Irving</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/science-forestry-library" role="menuitem">Science &amp; Forestry</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/engineering-computer-science-library" role="menuitem">Engineering &amp; Computer Science</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/hans-w-klohn-commons" role="menuitem">Saint John</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://www.unb.ca/fredericton/law/library" role="menuitem">Gerard V. La Forest Law</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Contacts</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Contact a Specialist (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/contact-us" role="menuitem">Contact Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/alphabetical-staff-directory" role="menuitem">Staff Directory</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/student-employment" role="menuitem">Student Employment</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Visit</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/find-us" role="menuitem">Find Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/floor-plans" role="menuitem">Floor Plans</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/hours" role="menuitem">Hours</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="mt-4 mb-3">Help</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/ask-us" role="menuitem">Ask Us</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/help/off-campus-access" role="menuitem">Off-campus Access: Proxy and VPN</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://web.lib.unb.ca/help/status.php" role="menuitem">Systems Status & Trouble Tickets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="d-flex flex-column flex-lg-row justify-content-between pb-3 px-2 w-100">
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Services for ...</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/alumni-services" role="menuitem">Alumni</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/community-services" role="menuitem">Community</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty" role="menuitem">Faculty</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/services-graduate-students" role="menuitem">Graduate Students</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/services-persons-disabilities" role="menuitem">Persons with Disabilities</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/services/researching-remotely" role="menuitem">Remote Researchers</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://guides.lib.unb.ca/guide/185" role="menuitem">STU Students</a></li>
                            </ul>
                        </div>
                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Collections</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/collections" role="menuitem">Collections Development</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/cds/projects" role="menuitem">Digital Projects</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/collections" role="menuitem">Memberships (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/collections/notable-collections" role="menuitem">Notable Collections</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/working-copyright-and-licensed-resources#" role="menuitem">Permitted use of licensed resources</a></li>
                            </ul>
                        </div>

                        <div class="px-2 pl-lg-0 pr-lg-3">
                            <h3 class="mt-4 mb-3">Our Organization</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/" role="menuitem">Mission (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/policies" role="menuitem">Policies</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/" role="menuitem">Strategic Plan (***)</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/staff-and-departments" role="menuitem">Units and Departments</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="mt-4 mb-3">Get Involved</h3>
                            <ul class="fa-ul" role="menu">
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/faculty/liaison-librarians/institution" role="menuitem">Academic Libraries Departmental Representatives</a></li>
                                <li role="none"><span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span><a class="nav-link" href="https://lib.unb.ca/about/" role="menuitem">Donate to the Library (***)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
