.affix {
  background: $unb-red;
  box-shadow: 0 4px 4px -1px rgba(17,17,17,0.7);
  position: fixed!important;
  @include css3-prefix(transition, all .25s ease-in);
}
.affix ul[role="menubar"] a[aria-haspopup="true"] {
  color: $white;
}
.affix ul[role="menubar"] .show a[aria-haspopup="true"] {
  color: $black;
}
#header .affix li.show > .nav-link,
#header .affix .megamenu-li > .nav-link:focus,
#header .affix .megamenu-li > .nav-link:hover,
.affix .branding a:focus,
.affix .branding a:hover {
  border-bottom: 3px solid $white;
}
/* Affix: swap unb lib logo img visibility. */
.unblib-logo {
  display: inline;
}
.unblib-logo-affix {
  display: none;
}
.affix .unblib-logo {
  display: none;
}
.affix .unblib-logo-affix {
  display: inline;
}