.affix {
  background: $red;
  box-shadow: 0 4px 4px -1px rgba(17,17,17,0.7);
  transition: all .25s ease-in;
  position: fixed!important;
}
.affix ul[role="menubar"] a[role="button"] {
  color: $white;
}
.affix ul[role="menubar"] .show a[role="button"] {
  color: $black;
}
#header .affix li.show > .nav-link,
#header .affix .megamenu-li > .nav-link:focus,
#header .affix .megamenu-li > .nav-link:hover,
.affix a.branding:focus,
.affix a.branding:hover {
  border-bottom: 3px solid $white;
}
/* Affix: swap unb lib logo img visibility. */
.unblib-logo {
  display: inline;
}
.unblib-logo-affix {
  display: none;
}
.affix .unblib-logo {
  display: none;
}
.affix .unblib-logo-affix {
  display: inline;
}