.unblib-logo-affix {
  display: none;
}
.unblib-logo {
  display: inline;
}

#navbar-main.affix {
  max-width: 100%;
}
.affix {
  animation-name: slideDown;
  animation-duration: $duration-slow;
  background-color: $unb-red;
  box-shadow: 0 4px 4px -1px rgba(17, 17, 17, 0.7);
  position: fixed !important;

  .megamenu-li button.nav-link {
    color: $white;
    padding-bottom: .5rem;
    padding-top: .5rem;
  }

  ul[role="menubar"] a[aria-haspopup="true"] {
    color: $white;
  }

  ul[role="menubar"] .show a[aria-haspopup="true"] {
    color: $black;
  }

  /* Swap unb lib branding img visibility. */
  .unblib-logo {
    display: none;
  }
  .unblib-logo-affix {
    display: inline;
  }
}
#toolbar-administration + div {
  #navbar-main.affix {
    animation-name: slideDownToolbar;
    top: $admin-toolbar-height;
  }
}

#header .affix li.show > .nav-link,
#header .affix .megamenu-li > .nav-link:focus,
#header .affix .megamenu-li > .nav-link:hover,
.affix .branding a:focus,
.affix .branding a:hover {
  border-bottom: 3px solid $white;
  color: $gray-200;
}
