.alert {
  margin-top: 1em;

  a:not(.btn) {
    color: $alert-link;
    border-bottom: 1px dotted $alert-link;
  }
}
.alert-light {
  color: $alert-light-wcag;

  a:not(.btn) {
    border-bottom-color: $link-color;
    color: $link-color;
  }
}
.alert-wrapper {
  position: initial;
  z-index: auto;
}

/* Remove horizontal padding header > emergency banner > alerts */
#emergency-banner {
  .alert {
    padding-left: 0;
    padding-right: 0;
  }
}
