.alert {
  margin-top: 1em;

  a:not(.btn) {
    color: $alert-link;
    border-bottom: 1px dotted $alert-link;
    text-decoration: none!important;

    &:focus,
    &:hover {
      border-bottom-style: solid;
    }
  }
}
.alert-light {
  color: $alert-light-wcag;

  a:not(.btn) {
    border-bottom-color: $link-color;
    color: $link-color;
  }
}
.alert-wrapper {
  position: initial;
  z-index: auto;
}
