/* Bootstrap Barrio fixes */
/* Alerts */
.alert-success::before,
.alert-warning::before,
.alert-danger::before {
  display: none;
}

/* Fix Barrio custom-control class applied to label */
.custom-control {
  label.custom-control {
    display: inline-block;
    padding-left: 0;
  }
}

/* Undo Bootstrap Barrio table overrides */
table {
  margin-top: inherit;

  caption {
    caption-side: top;
    font-weight: bold;
  }

  tr {
    background: inherit;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;

    td,
    th {
      background: inherit;
      border-color: inherit;
      border-style: inherit;
      border-width: inherit;
      color: inherit;
      font-size: 1rem;
      padding: inherit;
    }
  }
}

/* Override class options for Barrio's item-list list wrapper */
ul {
  &.list-bullets {
    list-style-type: inherit;
    padding-left: 2.5rem;
  }
}
ol,
ul {
  &.list-no-bullets {
    list-style-type: none;
    padding-inline-start: 1.5rem;

    &.list-no-indent {
      padding-inline-start: 0;
    }
  }

  &.list-no-indent {
    padding-inline-start: 1.5rem;
  }
}

/* Barrio + inline form invalid + inline form-action */
.form-row {
  @media (min-width: 992px) {
    .has-error {
      & + .form-actions {
        align-self: center;
      }
    }
  }
}

/* Barrio 5.1.7 media.scss */
.form-actions {
  background: inherit;
  padding: initial;
  position: initial;
}
.js-form-item.form-group {
  margin: 0 0 1rem 0;
}

/* Views pagination */
.pagination {
  .page-item {
    span.page-link:hover {
      color: inherit;
    }
  }
}
