.breadcrumb {
  font-size: 1rem;

  a[href="/"] {
    display: inline-block;
    position: relative;
    right: 9999px;
    width: 1rem;

    &:after {
      content: "\f015";
      font: var(--fa-font-solid);
      font-size: 80%;
      height: 100%;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: -9999px;
      top: 5px;
    }
  }

  li {
    margin-bottom: 0;
  }
}
