.bg-dark {
  background-color: $navbar-dark;
}

/* Buttons */
.btn-dark {
  &:hover,
  &:focus {
    background-color: rgb(35, 39, 43);
  }
}

.btn-primary {
  &:not(.is-disabled):focus,
  &:not(.is-disabled):hover {
    color: $text-yellow;
  }
}
// Differentiate Reset from Submit
input[data-drupal-selector="edit-reset"].btn-primary {
  background: $white;
  color: $black;

  &:focus,
  &:hover {
    background: $gray-200;
    color: $black;
  }
}

.btn-warning {
  &:focus,
  &:hover {
    background-color: #e0a800;
    color: inherit;
  }
}
/* END Buttons */
