.form-row>fieldset {
  max-width: 100%;
}

fieldset {
  input + .description {
    display: block;
    margin-top: .25rem;
  }
}

label {
  /* Reduce Bootstrap's large separation between checkmark and label */
  & .form-check {
    padding-left: .25rem
  }

  /* Better vertical alignment for radio/checkbox inputs and adjacent label */
  & .custom-control {
    padding-top: 1px;
  }
}
