.site-footer .block {
    border: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.site-footer {
    background: $footer-bg;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 3em;
    padding-bottom: 0;
    padding-top: 1em;
}
