.table-striped tr {
  background: $white;
}

table {
  &.admin-operations {
    td:last-child {
      width: 16%;
    }
  }

  .thead-dark {
    /* Table dark header sticky fix */
    th {
      color: $white;
      background-color: $dark;
    }
  }
}
