.layout--twocol-section {
  &.layout--twocol-section--50-50 {
    @media (min-width: 768px) {
      .layout__region:first-child {
        padding-right: $twocol-padding-size;
      }
      .layout__region:last-child {
        padding-left: $twocol-padding-size;
      }
    }

    & > .layout__region {
      @media (max-width: 767px) {
        flex-basis: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}
