// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import 'component/alert';
@import 'component/ajax';
@import 'component/field';
@import 'component/file';
@import 'component/filter';
@import 'component/form';
@import 'component/icon';
@import 'component/navbar';
@import 'component/node';
@import 'component/panel';
@import 'component/progress-bar';
@import 'component/table-drag';
@import 'component/tabs';
@import 'component/toolbar';

// jQuery UI style overrides
@import 'jquery-ui/autocomplete';

ol,
ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header
.page-header {
  margin-top: 0;
}

// Footer
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}


// Previously newspapers 'navbar-header'
.navbar-default {
  background-color: $white;
  font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;

  #defaultmenu {
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: 768px) {
      padding-left: 1px;
      padding-right: 1px;
    }

    @media screen and (max-width: 767px) {
      .navbar-nav {
        background: #1b2125;
        color: $white;

        & > li > a {
          background: inherit!important;
          margin-bottom: 0;
          text-align: left;

          &:focus,
          &:hover,
          &:active {
            font-weight: normal;
            text-decoration: none;
          }

          &:after {
            content: '\f077';
          }
        }
      }
    }

    .dropdown {
      overflow: hidden;

      .dropdown-menu {
        font-size: inherit;
        margin-left: -15px;
        margin-right: -15px;
      }

      a.dropdown-toggle {
        &:focus,
        &:hover {
          border-bottom: 3px solid #bd0000;
          text-decoration: none;
        }
      }

      &.open {
        background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
        background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
        background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
        background-repeat: repeat-x;
        color: $black;

        & > a.dropdown-toggle {
          background: inherit;
          -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          border-bottom: 3px solid #bd0000;
          color: $black;

          @media screen and (max-width: 767px) {
            &:after {
              color: $black;
              content: '\f078';
            }
          }
        }
      }

      .dropdown-menu {
        a {
          line-height: unset;
          text-align: left;

          &:focus,
          &:hover,
          &:active {
            color: #fc0;
            text-decoration: none;
          }
        }
      }
    }
  }

  .navbar-mobile {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;

    button[aria-expanded=true],
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #1b2125;
        color: $white;
        text-decoration: none!important;

      .fa-wh {
        color: $white;
      }
    }

    button[data-target="#defaultmenu"] {
      float: left;
    }
    button[data-target="#image-hours"] {
      float: none;
    }
    .askus-nomenu navbar-toggle {
      float: right
    }
  }

  &.affix {
    #defaultmenu .navbar-nav {
      .dropdown a.dropdown-toggle:focus,
      .dropdown a.dropdown-toggle:hover {
        background: inherit!important;
        border-bottom-color: $white;
        color: $white;
      }

      li.open > a.dropdown-toggle,
      li.open > a.dropdown-toggle:focus {
        border-bottom-color: $white;
        color: $black;
      }
    }
  }
}

// Navbar logo breakpoint position
@media screen and (min-width: 768px) and (max-width: 1000px) {
  // Premature Affix fix
  .container nav.affix {
    margin-left: -15px;
    margin-right: -15px;

    & > .row {
      margin: 0;
    }

    .UNBLib-logo {
      background-position: 50% 50%;
    }

    #defaultmenu {
      .dropdown {
        a {
          &.dropdown-toggle:focus,
          &.dropdown-toggle:hover {
            background-color: inherit !important;
            border-bottom-color: $white;
            color: $white;
          }
        }

        &.open > a.dropdown-toggle {
          border-bottom-color: $white;
          color: $black;
        }
      }
    }
  }
}

// Center unb logo between affix trigger/large width
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .navbar-default .UNBLib-logo {
    width: 100%;
  }
}

// Remove unb-lib nav bottom border
.navbar.fhmm.affix-top {
  border-bottom: none;
}

// Main navbar multiple megamenu rows
.dropdown-menu .row:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.18);
  padding-bottom: 1rem;
}

// BEGIN unb-lib.css fixes.
// Navbar logo breakpoint position
@media screen and (min-width: 992px) and (max-width: 1000px) {
  .navbar-default .UNBLib-logo {
    width: 100%;
  }
}
// Navbar adjustment (while logo/navbar nav on separate rows)
@media screen and (max-width: 1000px) {
  .navbar-default #defaultmenu .dropdown a.dropdown-toggle {
    border: 3px solid transparent;
    height: inherit;
    line-height: normal;
    padding-bottom: .25rem;
    padding-top: .25rem;
  }
}
// Navbar adjustment (after logo/navbar nav on same row)
@media screen and (min-width: 1001px) {
  .navbar-default #defaultmenu .dropdown a.dropdown-toggle {
    border: 3px solid transparent;
    display: inherit;
    height: inherit;
    line-height: normal;
    vertical-align: middle;
  }
}
// Mobile Navbar main button adjustments
@media screen and (max-width: 767px) {
  .navbar-default #defaultmenu .dropdown a.dropdown-toggle {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  #defaultmenu .dropdown > a::after {
    margin-bottom: .75rem;
    margin-top: .75rem;
  }
}
// Propagate navbar adjustments to affixed version
nav.affix .navbar-nav > li > a {
    height: inherit;
    line-height: normal;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

// Navbar main button text adjustment: mobile=no wrapping, >mobile=controlled wrap
#defaultmenu .dropdown a span.text-nowrap {
  display: inline;

  @media (min-width: 768px) {
    &:after {
      content: "\a";
      white-space: pre;
    }
  }
}

// Footer
footer {
  #bigFooter,
  #subBigFooter {
    li {
      line-height: inherit;
      margin-bottom: 1rem;

      a:after {
        display: inline-block;
      }
    }
  }

  @media (max-width: 991px) {
    #subBigFooter .row,
    .joinConver {
      & > div,
      & > div#pushRight {
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }
}
// END unb-lib.css fix