/* VARIABLES */

/* Colors */
$black: #000;
$white: #fff;
$gray-light: #ccc;
$navbar-dark: #1B2125;
$emergency-banner-primary: #fce585;
$emergency-banner-secondary: #fbdf64;

/* Links */
$navbar-dark-hover: #fec700;