/* Main Nav | UNB Libraries SVG Link */
.branding {
  a {
    border-bottom: 3px solid transparent;
    margin-top: 1px;

    &:focus,
    &:hover {
      border-bottom: 3px solid $header-hover-color;
    }
  }
}

/* UNB Libraries Logo SVG */
.unb-lib-logo {
  max-width: 100%;
  width: 320px;

  .fill-unb,
  .fill-libraries {
    fill: $black;
  }
  .fill-sail {
    fill: $unb-logo-red;
  }
}

.affix {
  .unb-lib-logo {
    .fill-unb,
    .fill-libraries {
      fill: $white;
    }
  }
}

.header-fluid {
  .unb-lib-logo {
    .fill-unb {
      fill: $black;
    }
  }
}

/* UNB Logo SVG */
.unb-logo {
  width: 185px;
  max-width: 100%;

  .fill-sail {
    fill: $unb-logo-red;
  }
  .fill-unb {
    fill: $black;
  }
}
