/* Main Nav | UNB Libraries SVG Link */
.branding {
  a {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top: 2px solid transparent;
    margin-top: 1px;

    &:focus,
    &:hover {
      border-bottom-color: $header-hover-color;
    }
  }

  /* UNB Libraries Logo SVG */
  .unb-lib-logo {
    max-width: 100%;
    width: 400px;
    height: 59px;

    .lib-logo-unb,
    .lib-logo-libraries {
      fill: $black;

      .sail {
        fill: $unb-logo-red;
      }
    }
  }
}

.affix {
  .unb-lib-logo {
    .fill-unb,
    .fill-libraries {
      fill: $white;
    }
  }
}

.header-fluid {
  .unb-lib-logo {
    .fill-unb,
    .fill-uonb {
      fill: $black;
    }
  }
}

/* UNB Logo SVG */
.unb-logo {
  width: 185px;
  max-width: 100%;
}


.lib-logo-unb,
.lib-logo-libraries {
  fill: $black;

  .sail {
    fill: $unb-logo-red;
  }
}

@media (max-width: 992px) {
  #header {
    .branding {
      max-width: 46%;
      .unb-lib-logo {
        height: 50px;
      }
    }
  }
}
@media (max-width: 767px) {
  #header {
    .branding {
      max-width: 60%;
    }

    #navbar-top {
      padding-bottom: 0!important;
      padding-top: 0!important;
    }

    .unb-lib-logo {
      .uonb {
        fill: transparent;
      }
    }
  }
}
