/* BEGIN Action Button Links */
.btn-action-add {
  &:before {
    @include link-fa-icon('\f067', right, .75rem);
  }
}
.btn-action-delete {
  &:before {
    @include link-fa-icon('\f2ed', right, .75rem);
  }
}
.btn-action-edit {
  &:before {
    @include link-fa-icon('\f303', right, .75rem);
  }
}
.btn-action-view {
  &:before {
    @include link-fa-icon('\f06e', right, .75rem);
  }
}
.btn-action-add,
.btn-action-delete,
.btn-action-edit,
.btn-action-view {
  &:not(.btn-sm) {
    &:before {
      vertical-align: text-top;
    }
  }
}
/* END Action Button Links */

/* Improve btn-link btn-block accessibility */
.btn-link {
  &.btn-block {
    &.focus-ring {
      border-color: rgba(0,0,0,0.1);
      box-shadow: 0 0 0 0.2rem rgba(216,217,219,0.5);
    }
  }
}

// Custom disabled button.
input {
  &.is-disabled {
    text-decoration: line-through;

    &:hover {
      cursor: not-allowed;
      text-decoration: line-through;
    }
  }
}
