#emergency-banner {
  background-image: repeating-linear-gradient(-45deg,
    $emergency-banner-primary,
    $emergency-banner-primary 20px,
    $emergency-banner-secondary 20px,
    $emergency-banner-secondary 40px);
  background-image: repeating-linear-gradient(-45deg,
    $emergency-banner-primary 0 20px,
    $emergency-banner-secondary 20px 40px);

  .alert {
    border-radius: 0;
    margin: 0;
    padding-top: 1.5rem;

    p {
      margin-bottom: .5rem;
    }

    a {
      font-weight: bold;

      &:focus,
      &:hover {
        border-bottom-style: solid;
      }
    }

    .alert-msg.warnBody {
      margin: 0;
    }

    .alert-title {
      font-family: 'ProximaNovaA-Bold', 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;

      &:before {
        content: '\f06a';
        display: inline-block;
        font: var(--fa-font-solid);
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 5px;
      }
    }
  }

  .container {
    .alert[style="display: inherit"]:not(:last-child) {
      border-bottom: 5px solid $navbar-dark;
    }
  }
}
