footer {
    background: $unb-red;
}

#footer-social {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        margin: 0;
    }

    ul {
        margin: 0;
    }

    a {
        background: $black;
        border: 1px solid transparent;
        border-radius: 50%;
        box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.95);
        /* Alternative fix for Safari rendering issues */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        padding: 0 calc($spacer * 0.5);

        &[href^="https://facebook"] {
            min-width: calc($spacer * 2);
            text-align: center;
        }

        &:hover {
            border-color: $secondary;
        }
    }
}

#land-acknowledgement {
    background: $dark;

    p:last-child {
        color: $light;
        margin-bottom: 0!important;
    }

    a {
        color: $white;
        font-weight: bold;
    }
}

#footer-bottom {
    background: $black;

    ul {
        margin: 0;

        li {
            &.list-inline-item {
                color: $secondary;
                margin-right: 0;
            }
        }

        a {
            color: $light;
        }
    }
}

#land-acknowledgement,
#footer-bottom {
    line-height: $line-height-sm;
    padding: calc($spacer * 1.5) 0;

    a {
        text-decoration: underline;
        text-decoration-color: transparent;
        text-underline-offset: $text-underline-offset;

        &:focus-visible,
        &:hover {
            color: $warning;
        }

        &:hover {
            text-decoration-color: $warning;
        }
    }
}
