#land-acknowledgement {
    background: $dark;

    p:last-child {
        color: $light;
        margin-bottom: 0!important;
    }

    a {
        color: $white;
        font-weight: bold;
    }
}

#footer-bottom {
    background: $black;

    ul {
        margin: 0;

        a {
            color: $light;
        }
    }
}

#land-acknowledgement,
#footer-bottom {
    line-height: $line-height-sm;
    padding: calc($spacer * 1.5) 0;

    a {
        text-decoration: underline;
        text-decoration-color: transparent;
        text-underline-offset: $text-underline-offset;

        &:focus-visible,
        &:hover {
            color: $warning;
        }

        &:hover {
            text-decoration-color: $warning;
        }
    }
}
