#header {
  button[data-target="#navbar"][aria-expanded="false"]:after {
    @include link-fa-icon('\f0c9', left);
  }

  button[data-target="#navbar"][aria-expanded="true"]:after {
    @include link-fa-icon('\f00d', left);
    margin-left: 0.44rem;
  }

  button[data-target="#quicklinks-wrapper"][aria-expanded="false"]:after {
    @include link-fa-icon('\f011', left, '', $text-muted);
  }

  button[data-target="#quicklinks-wrapper"][aria-expanded="true"]:after {
    @include link-fa-icon('\f011', left, '', $white);
  }

  @media (max-width: 991px) {
    #navbar-main #navbar {
      button {
        background: $black;
        color: $white;
        font-size: 1.1rem;

        &:after {
          display: inline-block;
          float: right;
          font: var(--fa-font-solid);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }

        &[aria-expanded="false"] {
          &:after {
            content: "\f078"
          }
        }

        &[aria-expanded="true"] {
          &:after {
            content: "\f077"
          }
        }
      }

      li.show>button {
        background: rgb(0 0 0 / 60%)!important;
      }

      div.dropdown-menu {
        display: none;

        &.show {
          display: flex;

          .container > div {
            -webkit-animation: megamenu-expand 0.3s;
            animation-duration: 0.35s;
            animation-iteration-count: 1;
            animation-name: megamenu-expand;

            ul {
              margin-bottom: .5em;
            }
          }
        }
      }
    }
  }

  #navbar-top {
    font-size: .9rem;
    font-weight: bold;

    a.nav-link {
      line-height: normal;
    }
  }

  #navbar-main:not(.affix) {
    .branding h1 {
      min-width: auto;
    }

    #navbar {
      flex-basis: auto;

      ul[role="menubar"] {
        a[aria-haspopup="true"] {
          color: $white;
        }

        .show a[aria-haspopup="true"] {
          @media (min-width: 991px) {
            background-color: rgb(52 58 64);
          }

          &:not(.focus-ring) {
            @include css3-prefix(box-shadow, 0 3px 0 -1px rgb(52 58 64))
          }

          &:focus,
          &:hover {
            cursor: default;
          }
        }
      }

      .navbar-nav {
        a {
          @include css3-prefix(transition, all $duration-fast ease-out);
        }
      }
    }
  }
}

/* Mobile Buttons */
.btn-red {
  color: $white;
  background-color: $unb-red;
}
#nav-btn {
  background: $unb-red;
}
#nav-btn .btn,
#nav-btn .btn:active {
  border: 1px solid $gray-200;
}
#nav-btn .btn-red:focus {
  box-shadow: none;
}
#nav-btn .btn[aria-expanded="true"] {
  background: $navbar-dark;
}
#nav-btn .btn:focus,
#nav-btn .btn:hover {
  background: $navbar-dark;
  color: $navbar-dark-hover;
}
/* END  Mobile Buttons */

/* Top-level Menu */
@media (max-width: 991px) {
  ul[role="menubar"] {
    background: $navbar-dark;
  }
  ul[role="menubar"] a[aria-haspopup="true"] {
    color: $white;
  }
  #header ul[role="menubar"] a[aria-haspopup="true"]:focus,
  #header ul[role="menubar"] a[aria-haspopup="true"]:hover {
    color: $white;
  }
  #header li.show > a[aria-haspopup="true"]:first-child {
    color: $black;
  }
  #navbar-main div.container {
    max-width: 100%;
  }
  #header .navbar-nav a[aria-haspopup="true"]:after,
  #discovery-search .card-header a:after {
    display: inline-block;
    float: right;
    font: var(--fa-font-solid);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  #header .navbar-nav a[aria-expanded="true"]:after,
  #discovery-search .card-header a[aria-expanded="true"]:after {
    content: "\f077";
  }
  #header .navbar-nav a[aria-expanded="false"]:after,
  #discovery-search .card-header a[aria-expanded="false"]:after {
    content: "\f078";
  }
}
/* END Top-level Menu */

ul[role="menubar"] a[aria-haspopup="true"] {
  color: #000;
  font-weight: 500;
  font-size: larger;
}

@media (max-width: 991px) {
  ul[role="menubar"] a[aria-haspopup="true"] {
    color: #fff;
  }
}
