#header {
  @media (min-width: 992px) {
    .megamenu {
      @include css3-prefix(transition, all $duration-default ease-in-out);
      background: none;
      display: initial;
      opacity: 0;
      visibility: hidden;

      &.show {
        opacity: 1;
        visibility: visible;
      }

      button {
        color: $black;
      }
    }
  }

  button[data-target="#navbar"][aria-expanded="false"]:after {
    @include link-fa-icon('\f0c9', left);
  }

  button[data-target="#navbar"][aria-expanded="true"]:after {
    @include link-fa-icon('\f00d', left);
    margin-left: 0.44rem;
  }

  button[data-target="#quicklinks-wrapper"][aria-expanded="false"]:after {
    @include link-fa-icon('\f011', left, '', $text-muted);
  }

  button[data-target="#quicklinks-wrapper"][aria-expanded="true"]:after {
    @include link-fa-icon('\f011', left, '', $white);
  }

  @media (max-width: 991px) {
    #navbar-main #navbar {
      .megamenu-li {
        background: $dark;
      }

      button {
        background: $black;
        color: $white;
        font-size: 1.1rem;

        &:after {
          display: inline-block;
          float: right;
          font: var(--fa-font-solid);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }

        &[aria-expanded="false"] {
          &:after {
            content: "\f078"
          }
        }

        &[aria-expanded="true"] {
          &:after {
            content: "\f077"
          }
        }
      }

      li.show>button {
        background: rgb(0 0 0 / 60%)!important;
      }

      div.dropdown-menu {
        display: none;

        &.show {
          display: flex;

          .container > div {
            -webkit-animation: megamenu-expand 0.3s;
            animation-duration: 0.35s;
            animation-iteration-count: 1;
            animation-name: megamenu-expand;

            ul {
              margin-bottom: .5em;
            }
          }
        }
      }
    }
  }

  #navbar-top {
    font-size: .9rem;
    font-weight: bold;

    a.nav-link {
      line-height: normal;
    }
  }
  #navbar-main {
    #navbar-main-content {
      padding-bottom: 1px;
    }
  }

  #navbar-main:not(.affix) {
    .branding h1 {
      min-width: auto;
    }

    #navbar {
      flex-basis: auto;

      ul[role="menubar"] {
        a[aria-haspopup="true"] {
          color: $white;
        }

        .show a[aria-haspopup="true"] {
          @media (min-width: 991px) {
            background-color: rgb(52 58 64);
          }

          &:not(.focus-ring) {
            @include css3-prefix(box-shadow, 0 3px 0 -1px rgb(52 58 64))
          }

          &:focus,
          &:hover {
            cursor: default;
          }
        }
      }

      .navbar-nav {
        a {
          @include css3-prefix(transition, all $duration-fast ease-out);
        }

        button {
          line-height: 1.4;
        }

        li.show > button {
          color: $navbar-dark-hover;
          background: #343c41;
          background-image: none;
          border-bottom-color: $header-hover-color;
        }
      }
    }
  }
}

/* Mobile Buttons */
.btn-red {
  color: $white;
  background-color: $unb-red;
}
#nav-btn {
  background: $unb-red;
}
#nav-btn .btn,
#nav-btn .btn:active {
  border: 1px solid $gray-200;
}
#nav-btn .btn-red:focus {
  box-shadow: none;
}
#nav-btn .btn[aria-expanded="true"] {
  background: $navbar-dark;
}
#nav-btn .btn:focus,
#nav-btn .btn:hover {
  background: $navbar-dark;
  color: $navbar-dark-hover;
}
/* END  Mobile Buttons */

/* Top-level Menu */
@media (max-width: 991px) {
  ul[role="menubar"] {
    background: $navbar-dark;
  }
  ul[role="menubar"] a[aria-haspopup="true"] {
    color: $white;
  }
  #header ul[role="menubar"] a[aria-haspopup="true"]:focus,
  #header ul[role="menubar"] a[aria-haspopup="true"]:hover {
    color: $white;
  }
  #header li.show > a[aria-haspopup="true"]:first-child {
    color: $black;
  }
  #navbar-main div.container {
    max-width: 100%;
  }
  #header .navbar-nav a[aria-haspopup="true"]:after,
  #discovery-search .card-header a:after {
    display: inline-block;
    float: right;
    font: var(--fa-font-solid);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  #header .navbar-nav a[aria-expanded="true"]:after,
  #discovery-search .card-header a[aria-expanded="true"]:after {
    content: "\f077";
  }
  #header .navbar-nav a[aria-expanded="false"]:after,
  #discovery-search .card-header a[aria-expanded="false"]:after {
    content: "\f078";
  }
}

.navbar-nav li.show > a:first-child {
  background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
  background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  border-bottom: 3px solid #bd0000;
  color: $black;
}
/* END Top-level Menu */

ul[role="menubar"] a[aria-haspopup="true"] {
  color: #000;
  font-weight: 500;
  font-size: larger;
}

@media (max-width: 991px) {
  ul[role="menubar"] a[aria-haspopup="true"] {
    color: #fff;
  }
}
@media (min-width: 992px) {
  .megamenu-li {
    margin-left: .5%;
    margin-right: .5%;
    width: 19%;
  }
}

/* Branding */
/* Logo image */
.branding .unblib-logo {
  padding-top: .5rem;
}
@media (max-width: 991px) {
  .branding img {
    max-width: 350px;
  }
}
@media (max-width: 350px) {
  .branding img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .branding img {
    max-width: 320px;
  }
}

.branding h1 {
  min-width: 320px;
}
.branding a,
.branding h1 {
  border-bottom: 3px solid transparent;
  height: 100%;
  margin-top: 1px;
}
.branding a:focus,
.branding a:hover {
  border-bottom: 3px solid $header-hover-color;
}
/* END Branding */

/* Megamenu */
.megamenu-li {
  position: static;

  button.nav-link {
    @include css3-prefix(transition,
      background-color $duration-default ease,
      border-bottom $duration-default ease-in-out,
      color $duration-default ease
    );
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid transparent;
    color: $black;
    height: 100%;
    margin: 1px 0 0 0;
    padding-bottom: .99rem;
    padding-top: .99rem;
    text-align: left;
    width: 100%;

    &.focus-ring:focus {
      outline: 1px dotted $white;
    }

    &:focus,
    &:hover {
      border-bottom: 3px solid $header-hover-color;
      color: $dark;
    }

    span.text-nowrap {
      &:after {
        @media (min-width: 992px) {
          content: '';
          display: block;
        }
      }
    }
  }

  .megamenu {
    background: $gray-dark;
    border: none;
    margin-top: 0;
    padding: 15px;
    /*position: absolute;*/
    left: 0;
    right: 0;
    width: 100%;

    /* Multi-row megamenu (borrow BS4 dropdown menu border) */
    & > div {
      background: $gray-dark;

      &:first-child {
        border-top: 1px solid rgb(0 0 0 / 18%);
      }
      &:last-child {
        border-bottom: 2px solid rgb(0 0 0 / 25%);
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgb(0 0 0 / 18%);
      }
    }

    h3,.h3 {
      color: $header-link-color;
      font-size: 1.3em;
    }

    .fa-ul {
      margin-left: 1em;

      li {
        margin-bottom: .5rem;

        .fa-li {
          color: $unb-red;
          left: -1em;
          opacity: .95;
          width: .8rem;
          font-size: 0.8rem;
          margin-top: .1rem;
          padding-right: .2rem;
        }

        a {
          @include nav-menu-style;
          line-height: 1.4rem;

          &:focus,
          &:hover {
            @include nav-menu-hover-style;
            background: $dark;
          }

          &:before {
            content: none;
          }
        }
      }
    }
  }

  /* Megamenu multi-row + 4 column desktop override */
  @media (min-width: 992px) {
    .multi-row {
      .flex-lg-row > div {
        width: 25%;
      }
    }
  }
}
/* END Megamenu */
