#banner-hours {
  background: $black;
  box-sizing: initial;
  color: $white;
  height: inherit;
  padding: 0;
  @include opacity(.8);
  @include css3-prefix(transition, opacity .25s ease-in-out);

  a {
    border-bottom: 1px dotted $gray-light;
    color: $white;
    font-weight: normal;
    padding: 2px 0;
    &:focus {
      border-bottom: none;
      color: $navbar-dark-hover;
    }
    &:hover {
      border-color: $navbar-dark-hover;
      color: $navbar-dark-hover;
      text-decoration: none;
    }
  }

  label {
    font-weight: bold;
  }

  table {
    margin: 0;
    padding: 0;

    caption {
      caption-side: top;
      color: #fff;
      font-weight: bold;
      margin: .75rem 0;
      padding: 0 1rem;
    }

    tbody {
      td,
      th {
        font-size: .86rem;
        font-weight: normal;
      }
    }

    tr {
      border: none;

      td,
      th {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .25rem;
        vertical-align: top;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  &:hover {
    @include opacity(.9);
  }
}
