#banner-hours {
  background: $black;
  box-sizing: initial;
  color: $white;
  height: 100%;
  padding: 0;
  @include opacity(.8);
  @include css3-prefix(transition, opacity .25s ease-in-out);

  &:focus-within,
  &:hover {
    @include opacity(.95);
  }

  table {
    margin: 0;
    padding: 0;

    tr {
      border: none;

      td,
      th {
        border: none;
        font-size: calc($font-size-base * 0.96);
        padding-left: calc($spacer * 1.75);
        vertical-align: top;

        & + td,
        & + th {
          padding-right: calc($spacer * 1.75);
          text-align: end;
          white-space: nowrap
        }

        a {
          color: $white;
          display: block;
          font-weight: normal;
          padding: 2px 0;
          text-decoration: underline;
          text-decoration-color: transparent;
          text-underline-offset: 3px;

          &:focus-visible {
            color: $navbar-dark-hover;
          }
          &:hover {
            color: $navbar-dark-hover;
            text-decoration-color: $warning;
          }
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    thead tr {
      th {
        font-weight: bold;
        padding-bottom: calc($spacer * 0.5);
      }
    }

    tfoot {
      td {
        padding-top: calc($spacer * 0.75);

        a {
          font-weight: bold;
        }
      }
    }
  }
}
