#navbar-main-content {
    background: $primary-red-500;

    #navbar {
        button.nav-link {
            @include css3-prefix(transition,
                background-color $trans-timing-duration $trans-timing-function,
                border-color $trans-timing-duration $trans-timing-function,
                color $trans-timing-duration $trans-timing-function
            );
            border-color: transparent;
            border-style: solid;
            border-width: 1px;
            color: $white;
            font-weight: bold;
            padding-left: calc($spacer * 1.5);
            padding-right: calc($spacer * 1.5);
            text-transform: uppercase;

            &:focus-visible,
            &:hover {
                background-color: $primary-red-800;
            }

            &[aria-expanded="true"] {
                background: $white;
                border-color: $gray-300;
                border-bottom-color: transparent;
                color: $black;
            }
        }
    }

    .megamenu-li {
        .megamenu {
            @media screen and (min-width: 992px) {
                // Absolute position re: dropdown-menu class.
                left: 0;
                right: 0;
            }
           
            background: none;
            border: none;
            margin-top: 0;
            opacity: 0;
            padding: 0 15px;
            visibility: hidden;

            & > div {
               @include css3-prefix(transition, opacity $trans-timing-duration $trans-timing-function);
               background: $gray-200;
               opacity: 0;
            }

            &.show {
                opacity: 1;
                visibility: visible;

                & > div {
                    opacity: 1;
                };
            }
            
            .flex-fill {
                @include css3-prefix(transition, background $trans-timing-duration $trans-timing-function);

                &:focus-within,
                &:hover {
                    background: $white;
                }
            }

            .fa-ul {
                margin-left: 0;

                li {
                    margin-bottom: calc($spacer * 0.25);
                }
            }

            .nav-link {
                color: $dark;
                font-weight: bold;
                padding: 0;
                text-decoration: underline;
                text-decoration-color: transparent;
                text-underline-offset: 3px;

                &:focus-visible,
                &:hover {
                    color: $link-color;
                }
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $link-color;
                }
            }

            .btn-unb-red {
                &:focus-visible,
                &:hover{
                    background: $primary-red-800;
                }
            }

            .fa-solid {
                vertical-align: middle;
            }
        }

        .megamenu-col-title {
            color: $black;
            font-size: larger;
            font-weight: bold;
            margin-bottom: calc($spacer * 0.5);
        }
    }
}
