/* Branding logo */
.branding h1 {
  min-width: 320px;
}
@media (max-width: 991px) {
  .branding img {
    max-width: 350px;
  }
}
@media (max-width: 460px) {
  .branding img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .branding img {
    max-width: 320px;
  }
}
/* END Branding logo */

/* Mobile Buttons */
.btn-red {
  color: $white;
  background-color: $unb-red;
}
#nav-btn {
  background: $unb-red;
}
#nav-btn .btn,
#nav-btn .btn:active {
  border: 1px solid $white;
}
#nav-btn .btn-red:focus {
  box-shadow: none;
}
#nav-btn .btn[aria-expanded="true"] {
  background: $navbar-dark;
}
#nav-btn .btn:focus,
#nav-btn .btn:hover {
  background: $navbar-dark;
  color: $navbar-dark-hover;
}
/* END  Mobile Buttons */

/* Top-level Menu */
@media (max-width: 991px) {
  ul[role="menubar"] {
    background: $navbar-dark;
  }
  ul[role="menubar"] a[aria-haspopup="true"] {
    color: $white;
  }
  #header ul[role="menubar"] a[aria-haspopup="true"]:focus,
  #header ul[role="menubar"] a[aria-haspopup="true"]:hover {
    color: $white;
  }
  #header li.show > a[aria-haspopup="true"]:first-child {
    color: $black;
  }
  #navbar-main div.container {
    max-width: 100%;
  }
  #header .navbar-nav a[aria-haspopup="true"]:after,
  #discovery-search .card-header a:after {
    float: right;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  #header .navbar-nav a[aria-expanded="true"]:after,
  #discovery-search .card-header a[aria-expanded="true"]:after {
    content: "\f077";
  }
  #header .navbar-nav a[aria-expanded="false"]:after,
  #discovery-search .card-header a[aria-expanded="false"]:after {
    content: "\f078";
  }
}

.navbar-nav li.show > a:first-child {
  background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
  background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  border-bottom: 3px solid #bd0000;
  color: $black;
}
/* END Top-level Menu */

ul[role="menubar"] a[aria-haspopup="true"] {
  color: #000;
  font-weight: 500;
  font-size: larger;
}

@media (max-width: 991px) {
  ul[role="menubar"] a[aria-haspopup="true"] {
    color: #fff;
  }
}
@media (min-width: 992px) {
  .megamenu-li {
    margin-left: .5%;
    margin-right: .5%;
    width: 19%;
  }
}

/* Branding */
.branding a,
.branding h1 {
  border-bottom: 3px solid transparent;
}
.branding a:focus,
.branding a:hover {
  border-bottom: 3px solid $link-hover-color;
}
/* END Branding */

/* Megamenu */
.megamenu-li {
  position: static;

  & > .nav-link {
    border-bottom: 3px solid transparent;

    &:focus,
    &:hover {
      border-bottom: 3px solid $header-hover-color;
      color: $gray-dark;
    }
  }

  .megamenu {
    background: $gray-dark;
    border-color: rgb(0 0 0 / 36%);
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

    /* Multi-row megamenu (borrow BS4 dropdown menu border) */
    & > div {
      background: rgb(55 63 68);
      border-top: 1px solid rgb(0 0 0 / 18%);
    }

    h3 {
      color: $header-link-color;
      font-size: 1.3em;
    }

    .fa-ul {
      margin-left: 1em;

      li {
        margin-bottom: .5rem;

        .fa-li {
          color: $unb-red;
          left: -1em;
          opacity: .95;
          width: .8rem;
          font-size: 0.8rem;
          margin-top: .1rem;
          padding-right: .2rem;
        }

        a {
          @include nav-menu-style;
          line-height: 1.4rem;

          &:focus,
          &:hover {
            @include nav-menu-hover-style;
            background: $dark;
          }

          &:before {
            content: none;
          }
        }
      }
    }
  }
}
/* END Megamenu */
