/* Eased transform/scale on hover/focus */
.hover-grow {
  @include css3-prefix(transition, transform .3s ease-in-out);

  &:focus,
  &:hover {
    @include css3-prefix(transform, scale(1.03));
  }
}
.hover-grow-h {
  @include css3-prefix(transition, transform .3s ease-in-out);

  &:focus,
  &:hover {
    @include css3-prefix(transform, scale(1.03 ,1));
  }
}
.hover-grow-v {
  @include css3-prefix(transition, transform .3s ease-in-out);

  &:focus,
  &:hover {
    @include css3-prefix(transform, scale(1, 1.03));
  }
}

/* Toggle Icons */
.icon-caret-h {
  button {
    &[aria-expanded="false"] {
      &:before {
        @include link-fa-icon('\f150', right);
      }
    }
    &[aria-expanded="true"] {
      &:before {
        @include link-fa-icon('\f151', '', right);
      }
    }
  }
}

/* Linked images */
.img-link {
  @include css3-prefix(transition, border-color .3s);

  &:focus,
  &:hover {
    border-color: $gray-500;
  }
}
.img-link a,
a.img-link {
  div {
    display: inline-block;
    margin: 0!important;
  }

  img {
    @include opacity(1);
    @include css3-prefix(transition, opacity .3s);
    margin: 0;
  }
  &:focus,
  &:hover {
    img {
      @include opacity(.75);
    }
  }
}

/* Opacity utility classes, including BS5.1.0 values */
$opacities: 25, 50, 75, 80, 85, 90, 95;
@each $value in $opacities {
  .opacity-#{$value} {
    @include opacity($value / 100);
  }
}
