/* Color Overrides */
$bg-color: $dark;
$blue: #007fa3;
$red: #900;

/* BEGIN Custom variables */
/* Colors */
$alert-light-wcag: #515153;
$alert-link: #394446;
$emergency-banner-primary: #fce585;
$emergency-banner-secondary: #fbdf64;
$footer-bg: #393e44;
$footer-heading: #f4f4f4;
$gray-light: #ccc;
$gray-medium: #999;
$gray-dark: #373f44;
$unb-red: #d82e3b;

/* Region colors */
$navbar-dark: #1B2125;
$header-link-color: #ddd;
$header-hover-color: #bd0000;
$footer-bg: #393e44;
$footer-heading: #f4f4f4;
$emergency-banner-primary: #fce585;
$emergency-banner-secondary: #fbdf64;

/* Links */
$link-color: #00607a;
$link-decoration: none;
$link-hover-color: #900;
$link-hover-decoration: none;
$skip-link-bg: #bf1722;
$navbar-dark-hover: #fec700;

/* Bootstrap */
$alert-light-wcag: #515153;
$alert-link: #394446;

/* Custom theme colors */
$theme-colors: (
  black: $black,
  unb-red: $unb-red
);