/* Colors */
$alert-light-wcag: #515153;
$alert-link: #394446;
$emergency-banner-primary: #fce585;
$emergency-banner-secondary: #fbdf64;
$footer-bg: #393e44;
$footer-heading: #f4f4f4;
$gray-light: #ccc;
$gray-medium: #999;
$gray-dark: #373f44;
$header-link-color: #ddd;
$header-hover-color: #bd0000;
$navbar-dark: #1B2125;
$text-yellow: #ffc107;
$unb-light: #f5f5f5;
$unb-red: #d82e3b;

/* Links */
$link-color: #006C8A;
$link-decoration: none;
$link-text-decoration-color-fallback: $link-color;
$link-text-decoration-color: rgb(0 96 122 / 33%);
$link-hover-color: #900;
$link-hover-decoration: none;
$skip-link-bg: #bf1722;
$navbar-dark-hover: #fec700;

/* Transition timings */
$duration-slow: .5s;
$duration-default: .35s;
$duration-fast: .2s;

/* Misc */
$admin-toolbar-height: 39px;

/* Layout Builder */
$twocol-padding-size: 2.5rem;

/* Custom them color names */
$theme-colors: (
  black: $black,
  unb-light: $unb-light,
  unb-red: $unb-red
);
