#hours {
  background: $black;
  @include opacity(0.8);
  @include css3-prefix(transition, opacity 0.25s ease-in-out);
  overflow: hidden;
  color: $white;

  a {
    border-bottom: 1px dotted $gray-light;
    color: $white;
    padding-bottom: 2px;
    &:focus {
      border-bottom: none;
      color: $yellow;
    }
    &:hover {
      color: $yellow;
    }
  }
  label {
    font-weight: bold;
  }

  table {
    margin: 0;
    padding: 0;

    tr {
      border: 0;

      td {
        border: 0;
        padding: 1px 0;
        vertical-align: top;

        ul {
          padding: 0;
          margin: 0;

          li {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  &:hover {
    @include opacity(0.9);
  }
}
