#hours {
  background: $black;
  color: $white;
  height: 199px;
  padding-left: 1.35rem;
  @include opacity(.8);
  @include css3-prefix(transition, opacity .25s ease-in-out);

  a {
    border-bottom: 1px dotted $gray-light;
    color: $white;
    padding: 2px 0;
    &:focus {
      border-bottom: none;
      color: $navbar-dark-hover;
    }
    &:hover {
      color: $navbar-dark-hover;
    }
  }

  label {
    font-weight: bold;
  }

  table {
    margin: 0;
    padding: 0;

    tr {
      border: 0;

      td {
        border: 0;
        padding: 1px 0;
        vertical-align: top;

        ul {
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  &:hover {
    @include opacity(.9);
  }
}
