/* VARIABLES */

/* Colors */
$red: #900;
$blue: #007fa3;
$black: #000;
$white: #fff;
$gray-444: #444;
$gray-light: #ccc;
$gray-medium: #999;
$gray-dark: #373f44;
$nav-red: #d82e3b;
$navbar-dark: #1B2125;
$header-link-color: #ddd;
$header-hover-color: #bd0000;
$footer-bg: #393e44;
$footer-heading: #f4f4f4;
$emergency-banner-primary: #fce585;
$emergency-banner-secondary: #fbdf64;

/* Links */
$link-color: $blue;
$link-decoration: none;
$link-hover-color: #900;
$link-hover-decoration: none;
$skip-link-bg: #bf1722;
$navbar-dark-hover: #fec700;

/* Fonts */
$font-dark: #333;

/* Bootstrap */
$alert-light-wcag: #515153;
$alert-link: #394446;
$text-dark-cyan: #00607a;
