/* VARIABLES */

/* Colors */
$red: #f00;
$blue: #007fa3;
$black: #000;
$white: #fff;
$gray-light: #ccc;
$gray-dark: #373f44;

/* Links */
$link-color: $blue;
$link-decoration: none;
$link-hover-color: $red;
$link-hover-decoration: none;

/* Fonts */
$font-dark: #333;