/**
 * @file
 * Base theme CSS.
 */

/* Import Sass files */
@import 'import';

body,
.font-regular {
    font-family: 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}
h1,
.h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2,
.h2 {
    color: $red;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h3,
.h3 {
    font-size: 1.3rem;
}
h4,
.h4 {
    font-size: 1.1rem;
}
h5,
h6,
.h5,
.h6 {
    font-size: 1rem;
}
header h2 {
    border-bottom: 1px solid $gray-light;
    margin-bottom: .5rem;
    padding-bottom: .25rem;
}
.text-formatted {
    h3 {
        margin-top: 1.75rem;
    }

    h2 {
        margin-top: 2.5rem;

        &:nth-child(1) {
            margin-top: .5rem;
        }

        & + h3 {
            margin-top: 1rem;
        }
    }
}

/* Links */
a {
    color: $link-color;
    @include css3-prefix(transition, all 0.25s ease-in-out);

    &.external {
        &:after {
            content: '\f35d';
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-size: .8rem;
            font-weight: 900;
            margin-left: .2rem;
            vertical-align: text-bottom;
        }
    }

    &:focus,
    &:hover {
        background: none;
        box-shadow: none;
        color: $link-hover-color;
    }
}

a.nav-link[href$="//unb.ca"]::before {
    background-image: url(/themes/contrib/unb_lib_theme/img/unb-sail-r.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-right: 3px;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
}
/* END Links */

/**
 * Accessibility
 */
/* Skip link */
#skiptocontent a {
    background: $skip-link-bg;
    color: $white;
    display: block;
    font-size: 2em;
    padding: .13em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -3.5rem;
    @include css3-prefix(transition, all .5s ease-in);
    width: 100%;
    z-index: 1000;
}
#skiptocontent a:focus {
    box-shadow: 0 0 5px #000;
    top: 0;
    @include css3-prefix(transition, top .25s ease-out);
}
.user-logged-in #skiptocontent a:focus {
    position: relative;
}
#skiptocontent a:hover {
    text-decoration: underline;
}
/* END Skip Link */
/*
 * END Accessibility
 */

/**
 * Header
 */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-dark {
    background: $navbar-dark;
}

/* Utilities menu */
#navbar-top {
    background-color: $navbar-dark;
}
#navbar-top li,
.footer-bottom-first  li {
    display: inline;
}
#navbar-top li:not(:first-child) {
    margin-left: 8px;
}
#navbar-top li:not(:last-child) {
    margin-right: 8px;
}
#navbar-top li:not(:last-child) {
    border-right: 1px solid $gray-medium;
    padding-right: 15px;
}
#navbar-top a.nav-link {
    @include nav-menu-style;
}
#navbar-top a.nav-link:focus,
#navbar-top a.nav-link:hover {
    @include nav-menu-hover-style;
}
/* END Utilities Menu */

/* Banner */
#banner-image {
    background-size: cover;
    border-top: 1px solid $gray-medium;
    height: 200px;
    overflow: hidden;
}
@media (max-width: 991px) {
    #banner.front {
        display: block;
    }
    header .container {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    #banner {
        display: block;
    }
}
/* END Banner */
/*
 * END Header
 */

/* Dark-themed content */
.theme-dark {
    .tabs-accordian {
        flex-wrap: wrap;

        .nav-tabs {
            a {
                &:focus,
                &:hover {
                    background-color: $gray-700;
                }
            }
        }
    }

    thead th[scope="col"],
    ul.nav-tabs,
    .card-header {
        background: $table-dark-bg;

        a {
            &:focus,
            &:hover {
                color: $yellow;
            }
        }
    }

    .nav-tabs {
        border-bottom: none;

        .nav-item {
            margin-bottom: 0;
            z-index: 9;

            .nav-link {
                border-radius: 0;
                color: $white;
                padding-left: 1rem;
                padding-right: 1rem;

                &:focus,
                &:hover {
                    background: $black;
                    border-color: transparent;
                    color: $yellow;
                }
            }

            .nav-link.active {
                background-color: $yellow;
                border-color: $yellow;
                color: $black;
                cursor: default;
            }
        }
    }

    .tab-pane {
        .card-header {
            a {
                background-color: $table-dark-bg;;
                color: $white;

                &:focus,
                &:hover {
                    color: $navbar-dark-hover;
                }
            }
            a[aria-expanded="true"] {
                background-color: $gray-700;
                color: $navbar-dark-hover;
            }
            h3 {
                font-size: 1.2em;
            }
        }

        .card-body {
            p,
            .form-check-label {
                line-height: 1rem;
            }

            .divider {
                border-top: 1px solid $yellow;
                margin: 1rem 0;
                max-width: 16rem;
            }

            .btn-primary {
                color: $white;
                background-color: #363636;
                @include horizontal-gradient(#444, #222);
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

                &:focus,
                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .btn-primary,
    .webform-button--submit,
    .webform-button--submit:active {
        background-color: $black;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: $white;

        &:focus,
        &:hover {
            color: $yellow;
        }
    }
    .btn[id="edit-cancel"],
    .btn[value="Cancel"],
    .btn[value="Clear"],
    .webform-button--reset,
    .webform-button--reset:active {
        color: $dark;
        background-color: $white;
        border-color: $gray-light;

        &:focus,
        &:hover {
            background-color: $gray-200;
            border-color: $gray-500;
            color: inherit;
        }
    }
}
@media(max-width: 991px) {
    .tabs-accordian {
        border: none;

        #tabs {
            display: none;
        }

        .tab-content > .tab-pane {
            display: block !important;
            // Override fade '0' opacity.
            @include opacity(1);
        }
    }
}
@media(min-width: 992px) {
    .tabs-accordian {
        border: 1px solid $gray-dark;
        min-height: 300px;

        .card {
            border: none;

            .collapse {
                display: block;
            }

            .card-header {
                display: none;
            }
        }

        .nav-tabs {
            display: flex;
        }
    }
}
/* END dark-themed content */

/* Utility Classes */
.hover-grow {
    @include css3-prefix(transition, transform .3s ease-in-out);

    &:focus,
    &:hover {
        @include css3-prefix(transform, scale(1.03));
    }
}
.hover-grow-h {
    @include css3-prefix(transition, transform .3s ease-in-out);

    &:focus,
    &:hover {
        @include css3-prefix(transform, scale(1.03 ,1));
    }
}
.hover-grow-v {
    @include css3-prefix(transition, transform .3s ease-in-out);

    &:focus,
    &:hover {
        @include css3-prefix(transform, scale(1, 1.03));
    }
}
/* Toggle Icons */
.icon-caret-h {
    button {
        &[aria-expanded="false"] {
            &:before {
                @include link-icon('\f150', '', left);
            }
        }
        &[aria-expanded="true"] {
            &:before {
                @include link-icon('\f151', '', left);
            }
        }
    }
}
.text-red {
    color: $red;
}
ol, ul {
    &.mt-md-li {
        li {
            margin-top: .5rem;
        }
    }

    &.mt-lg-li {
        li {
            margin-top: 1rem;
        }
    }
}

/* Add larger breakpoint option for container */
@media (min-width: 1360px) {
    .container {
        max-width: 1230px;
    }
}
