/**
 * @file
 * Subtheme specific CSS.
 */

/* Import Sass files */
@import 'import';

body {
    color: $font-dark;
    background: $white;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
 * Links
 */
a {
    color: $link-color;
    transition: color 0.25s;
}
a:focus,
a:hover {
    color: $link-hover-color;
}
a.nav-link[href$="//unb.ca"]::before {
    background-image: url(/themes/custom/unb_lib_theme/dist/img/unbsail-r.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-right: 3px;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
}

/**
 * Focus ring
 */
.focus-ring-overlay {
    background: rgba(192, 192, 192, 0.2);
    transition: top 0.25s, left 0.25s, width 0.25s, height 0.25s, opacity 0.125s;
}
.focus-ring {
    outline: 1px dashed $gray-light;
}
:focus:not(.focus-ring) {
    outline: none;
}

/**
 * Navbar
 */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
#navbar-top {
    background-color: $navbar-dark;
}
.navbar-dark {
    background: $navbar-dark;
}
.menu--footer ul,
.menu--utilities-menu ul {
    margin: 0;
    padding: 10px 0 6px 0x;
}
.menu--footer li,
.menu--utilities-menu li {
    display: inline;
}
.menu--footer li:not(:first-child),
.menu--utilities-menu li:not(:first-child) {
    margin-left: 8px;
}
.menu--footer li:not(:last-child),
.menu--utilities-menu li:not(:last-child) {
    margin-right: 8px;
}
.header .menu--utilities-menu li:not(:last-child) {
    border-right: 1px solid $gray-medium;
    padding-right: 15px;
}
.menu--footer a.nav-link::after,
.site-footer a.nav-link::after {
    color: $red;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    margin: 0px 5px;
}
.site-footer a.nav-link,
.menu--utilities-menu a.nav-link {
    color: $white;
    border: none;
    display: inline;
    padding: 0;
    text-decoration: none;
}

#navbar-top a:focus,
#navbar-top a:hover,
.site-footer a.nav-link:focus,
.site-footer a.nav-link:hover {
    color: $navbar-dark-hover;
}

/**
 * Footer
 */
#footer-bottom {
    background: $navbar-dark;
}

/**
 * Accessibility
 */

/* Skip link */
#skiptocontent a {
    background: $skip-link-bg;
    border-bottom: 1px solid $white;
    color: $white;
    display: block;
    font-size: 2em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -2em;
    -webkit-transition: all 1s ease-out;
    transition: all .75s ease-out;
    width: 100%;
    z-index: 1000;
}
#skiptocontent a:focus {
position: relative;
    outline-color: transparent;
    top: 0;
    -webkit-transition: top .1s ease-in;
    transition: top .25s ease-in;
}
#skiptocontent a:hover {
    text-decoration: underline;
}